
body {
    text-align: center;
    margin-top: 300px;
}
.container{
    width: 500;
    margin: auto;
    padding: 10px;
}
.S{
    margin-bottom: 20PX;
  
}
.button1{

    width: 100px;
    margin-right: 50px;
    
    border-radius: 20px;

}
.button2{
    border-radius: 20px;
    width: 100px;
}
.output4{
    margin-left: auto;
    margin-right: auto;

}