

.S{
    margin-bottom: 20PX;
}
.button1{

    width: 100px;
    margin-right: 50px;
    
   

}
.button2{
   
    width: 100px;
}
.out{
    margin-left: auto;
    margin-right: auto;

}
